.App {
  text-align: center;
}

.maindiv {
  width: 490px;
  background-color: #b5eaea;
  margin: 5% 5%;
  padding: 2%;
  border: whitesmoke 1px solid;
  box-shadow: gainsboro 10px 10px 10px;
}

.heading {
  margin: 5px;
  color: #282c34;
  font-family: "Times New Roman";
  font-size: 30px;
}

.data {
  /* padding: 3% 10%; */
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  flex-wrap: wrap;
}
.date {
  font-size: 13px;
  text-decoration: underline;
}
.mainheading {
  padding-top: 3%;
  font-size: 50px;
  color: #282c34;
  font-family: "Times New Roman";
}
.mainback {
  background-color: whitesmoke;
  border: white 40px solid;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
